body{
   background-color: black;
   background-image: url(image.jpg);
   

}
#registeration{
    
    color: white;
   
    border: 6px solid rgb(10, 4, 4);
    height: 680px;
    width: 680px;
    font-size: 38px;
    letter-spacing: 2px;
    background-color: black;
    margin: auto;
    
    
  
    
}
#head{
    margin-left: 500px;
    font-size: 80px;
    text-shadow: 3px 2px 3px red;
    color: white;
    font-style: inherit;
    letter-spacing: 2px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    
    
}
#diaz{
    float: left;
    margin-right: 40px;
    margin-top: 70px;
}
#messi{
    float: right;
    margin-left: 30px;
    margin-top: 200px;
    

}
#adidas{
    margin-left: 200px;
}

p{
    font-size: 40px;
    color: white;
    background-color: black;
    border: 3px solid white;
}

.input{
    font-size: 20px;
    border: 4px solid;
    
    border-radius: 10px;
}
 button{
    font-size: 40px;
    border: 2px solid aquamarine;
    border-radius: 3px;
    background: black;
    color: white;

}
.theme{
    background-color: aliceblue;
}
